defaults:
  - task: demo_task

name: train_meanflow_pointcloud_policy

task_name: null
shape_meta: ${task.shape_meta}
exp_name: "debug"

horizon: 16
n_obs_steps: 2 # 2
n_action_steps: 16 # 8
n_latency_steps: 0
dataset_obs_steps: ${n_obs_steps}
keypoint_visible_rate: 1.0
obs_as_global_cond: True

policy:
  _target_: maniflow.policy.meanflow_pointcloud_policy.MeanFlowTransformerPointcloudPolicy
  n_layer: 12  # max 28
  n_head: 8  # max 16
  n_emb: 768 # max 1152
  visual_cond_len: 128 # adjust according to the task
  max_lang_cond_len: 1024 # not used for now
  qkv_bias: true
  qk_norm: true
  
  language_conditioned: false
  use_train_state: true

  flow_batch_ratio: 0.75 
  consistency_batch_ratio: 0.25

  sample_t_mode_flow: "beta" 
  sample_t_mode_consistency: "discrete" 
  sample_dt_mode_consistency: "uniform"
  denoise_timesteps: 10

  diffusion_timestep_embed_dim: 128
  diffusion_stepsize_embed_dim: 128

  use_point_crop: true
  crop_shape:
  - 80
  - 80
  encoder_type: "DP3Encoder" #"DP3Encoder", "iDP3Encoder", "PointNextEncoder"
  encoder_output_dim: 128
  horizon: ${horizon}
  n_action_steps: ${n_action_steps}
  n_obs_steps: ${n_obs_steps}


  num_inference_steps: 10
  obs_as_global_cond: true
  shape_meta: ${shape_meta}

  use_pc_color: true
  pointnet_type: "pointnet" # multi_stage_pointnet for idp3 encoder, pointnet for dp3 encoder, pointnext_s for pointnext encoder
  downsample_points: true
  pointcloud_encoder_cfg:
    in_channels: 3
    out_channels: ${policy.encoder_output_dim}
    use_layernorm: true
    final_norm: layernorm # layernorm, none
    normal_channel: false
    num_points: ${policy.visual_cond_len} 
    pointwise: true
    

ema:
  _target_: maniflow.model.diffusion.ema_model.EMAModel
  update_after_step: 0
  inv_gamma: 1.0
  power: 0.75
  min_value: 0.0
  max_value: 0.9999

dataloader:
  batch_size: 256 
  num_workers: 8
  shuffle: True
  pin_memory: True
  persistent_workers: True # default False

val_dataloader:
  batch_size: 128 # 128
  num_workers: 8
  shuffle: False
  pin_memory: True
  persistent_workers: False

optimizer:
  _target_: torch.optim.AdamW
  lr: 1.0e-4
  betas: [0.9, 0.95]
  eps: 1.0e-8
  weight_decay: 1.0e-3

training:
  device: "cuda:0"
  seed: 42
  debug: False
  resume: True
  lr_scheduler: cosine
  lr_warmup_steps: 500
  num_epochs: 1010 # 2010 for single task, 3000 for multitask
  gradient_accumulate_every: 1
  use_ema: True
  rollout_every: 500 # 200
  checkpoint_every: 500 # 200
  val_every: 50
  sample_every: 5
  max_train_steps: null
  max_val_steps: null
  tqdm_interval_sec: 1.0

logging:
  group: ${exp_name}
  id: null
  mode: online
  name: ${exp_name}
  project: RoboTwin
  resume: true
  tags:
  - RoboTwin

checkpoint:
  save_ckpt: True # if True, save checkpoint every checkpoint_every
  topk:
    monitor_key: val_loss # test_mean_score, val_loss
    # mode: max
    # k: 0
    # format_str: 'epoch={epoch:04d}-test_mean_score={test_mean_score:.3f}.ckpt'
    mode: min
    k: 1
    format_str: 'epoch={epoch:04d}-val_loss={val_loss:.6f}.ckpt'
  save_last_ckpt: True # this only saves when save_ckpt is True
  save_last_snapshot: False

hydra:
  job:
    override_dirname: ${name}
  run:
    dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
  sweep:
    dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
    subdir: ${hydra.job.num}

multi_run:
  run_dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
  wandb_name_base: ${now:%Y.%m.%d-%H.%M.%S}_${name}_${task_name}

checkpoint_num: 3000
expert_data_num: 100
raw_task_name: none
setting: none
